SECRET_KEY={{ django_secret_key }}
DEBUG=False
ALLOWED_HOSTS={{ allowed_hosts }}
SITE_ROOT={{ site_root }}
DB=postgres
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_NAME={{ db_name }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
