DB=postgres
DB_NAME={{ postgres_db_name }}
DB_HOST={{ db_host }}
DB_PORT=5432
DB_USER={{ postgres_db_user }}
DB_PASSWORD={{ db_password }}
SECRET_KEY={{ django_secret_key }}
DEBUG=False
SITE_ROOT=http://{{ alb_dns_name }}
ALLOWED_HOSTS={{ allowed_hosts }}
